*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body , html{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 123, 203);
}

.h1-div{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
}
.h1-div > h1{
    font-size: 60px;
    
}
.top{
    width: 700px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.inner{
    width: 600px;
    height: 100px;
    border: none;
    background-color: rgb(35, 150, 243);
    
}

#input{
    width: 400px;
    height: 50px;
    border: none;
    margin: 20px;
    margin-left: 30px;
    font-size: 15px;
    padding-left: 30px;
}

.add{
    width: 100px;
    height: 50px;
    font-size: 15px;
   
}

.task-div{
    width: 700px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    margin: auto;
}

li{
    list-style: none;
    font-size: 20px;
}